* {
  box-sizing: border-box;
}


/* 通用样式 */
[id^="myBtnContainer"] {
  display: flex;
  z-index: 10;
  justify-content: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid #ddd;
}

/* 为容器内的链接设置样式 */
[id^="myBtnContainer"] a {
  color: black;
  padding: 8px 16px;
  margin: 0 4px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
}

/* 为选中的按钮添加样式 */
[id^="myBtnContainer"] .btn.selected {
  background-color: lightgreen;
  color: black;
}
/* #imageContainer {
  margin-left: 130px;
} */

h1 {
  font-size: 50px;
  word-break: break-all;
}

h2{
  display: block; 
  margin: 0;
  clear: both;
  padding: 30px 7px 10px 5px;
  font-size: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narron', Arial, sans-serif;
} 

h4 {
  text-align: center;
}
.date{
  margin: 0 auto;
  width: 79%;
}
.date h3{
  font-size: 20px;
  padding-top: 10px;
}

/* Style the buttons */
.btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* 倒角 */
  outline: none;
  padding: 5px 5px;
  background-color: white;
  cursor: pointer;
  width: 50px;
  display: block;
  margin: 2px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* 阴影 */
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  background-color: #ddd;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); /* 增加悬停时的阴影 */
}

/* .btn.active {
  background-color: #666;
  color: white;
} */

.fade {
  opacity: 0;
  /* transition: opacity 0.5s ease-in-out; */
}

.show {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.btn.selected {
  background-color: lightgreen;
  color: black;
}

.btn:not(:last-child) {
  margin-bottom: 5px; /* 按钮之间的分界线 */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* The "show"
 class is added to the filtered elements */
 .show {
  display: block;
}

.lick{
margin: -4px 0px;
/* background-color: #dbdbdb; */
padding: 5px 5px;
/* max-width: 280px; */
font-size: 14px;
cursor: pointer;
}
.lick:hover{
  color: brown;
}



.row {
  --gap: 0.5em;
  --columns: 6;
  max-width: 79%;
  margin: 0px auto 100px auto;
  display: column;
  columns: var(--columns);
  gap: var(--gap);
  /* background-color: rgba(241, 229, 234, 0.8);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);  */
  padding: 8px;
}

.row > * {
  break-inside: avoid;
  margin-bottom: var(--gap);
  display: flex;
  justify-content: center;
}

@supports (row-template-grid: masonry) {
  .row {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: masonry;
    grid-auto-flow: dense;
  }
}


/* Create three equal columns that floats next to each other */
.btn.column {
  float: left;
  display: block; /* Hide all elements by default */
  margin: 3px;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.row .column .content img {
  max-width: 100%;
  opacity: 0;
  /* transition: opacity 1.5s ease-in-out;
  transition: transform 0.3s ease, box-shadow 0.3s ease; */
}

/* .row .column .content img:hover{
  transform: scale(1.07); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
} */

.row .column .content img.loaded {
  opacity: 1;
}

.row .column .content {
  padding: 0.5em;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
  background: white;
}

.row .box{
  display: none;
}





/* 控制P标签的显示与关闭 */
.describe {
  display: none;
}

/* Modal Styles */
.modal {
  display: none; /* 隐藏模态框 */
  position: fixed; /* 固定定位 */
  z-index: 1; /* 置于顶层 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 半透明背景色 */
  justify-content: center; /* 居中对齐 */
  align-items: center; /* 居中对齐 */
  overflow: auto;
}

.modal-content_all {
  background-color: #ffffff;
  display: flex; /* 使用 flex 布局 */
  flex-direction: row; /* 水平排列子元素 */
  /* width: auto; */
}

.modal-content {
  background-color: rgb(255, 255, 255);
  margin: auto;
  padding: 0 10px;
  border: 10px solid #f0f0f0;
  text-align: center;
  position: relative;
  display: inline-flex;
  flex-direction: column; 
  align-items: flex-start; /* 子元素从左对齐 */
}

.modal-content1{
  /* background-color: rgb(231, 231, 231); */
  /* margin: auto; */
  padding: 0 5px;
  /* border: 1px solid #888; */
  /* text-align: center; */
  position: relative;
  /* height: 20px; */
  /* display: inline-flex; */
  /* flex-direction: column;  */
  /* align-items: flex-start;  */
}

button.prev, button.next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  cursor: pointer;
  background-color: rgba(0,0,0,0.5);
  transform: translateY(-50%);
}

button.prev {
  left: 10px; /* 调整位置 */
}

button.next {
  right: 10px; /* 调整位置 */
}

.modal-images img {
  max-width:100%;
  height: 650px; /* 设置图片的高度 */
  object-fit: contain; /* 保持图片比例 */
  padding: 10px 0px;
  margin: 0;
}

.thumbnail-container {
  display: flex;
  flex-wrap: wrap; /* 使缩略图换行 */
  gap: 8px; /* 图片之间的间距 */
  margin-bottom: 10px;
  justify-content: center; /* 缩略图居中对齐 */
  height: auto; 
  /* border-top: 2px solid #ccc;  */
  max-width: 550px;

}

.thumbnail-container .thumbnail {
  height: 10%; /* 设置缩略图的高度 */
  cursor: pointer;
  transition: filter 0.3s ease; /* 平滑的过渡效果 */
}


.thumbnail:hover {
  filter: grayscale(100%); /* 悬停时变成灰色 */
  opacity: 0.8;
}

.modal-texts {
  margin: 30px 10px;
  text-align: left;
  flex: 1; 
  width: 320px;
  overflow-y: scroll;
  height: 650px;

}

#modalText {
  margin: 0;
  padding: 10px;
}

.close {
  color: #aaa;
  position: absolute;
  top: -5px;
  right: 10px;
  font-size: 40px;
  font-weight: bold;
  padding: 0px 5px;
  /* background-color: rgb(68, 68, 68); */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modalTextTable {
  width: 100%;
  border-collapse: collapse;
  /* margin: 10px 0; */
  font-size: 16px;
  text-align: left;
}

.modalTextTable tr,
.modalTextTable td {
  padding: 10px;
  border: 1px solid #ddd;
}

.modalTextTable th {
  background-color: #f2f2f2;
}

.modalTextTable td:first-child {
  width: 36%; /* 您可以根据需要调整百分比 */
}

.Key_words {
  line-height: 1.5;
 background-color: rgba(206, 250, 230, 0.2);
 
}




span.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

span.close:hover, span.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Background blur effect */
body.modal-open {
  overflow: hidden;
}

body.modal-open .column,body.modal-open .lie,body.modal-open h2,body.modal-open #myBtnContainer,body.modal-open .character{
  filter: blur(3px);
}
body.modal-open #navbar{
  opacity: 0;
  transform: translateY(-60px);
  transition: opacity 0.05s ease-in-out;
}

.lazy {
  background: url('./Picture/loading.gif') center center no-repeat;
  min-height: 150px; /* 你可以根据图片的大小调整这个高度 */
}
/* .content img{
  cursor: pointer;
} */

.breadcrumb {
  font-size: 16px;
  color: #494949;
  margin: 0 auto;
  width: 80%;
  padding: 10px;
}



