* {
  box-sizing: border-box;
}


#myBtnContainer {
  display: flex;
  z-index: 10;
  justify-content: center;
  padding: 10px 0;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid #ddd; 
  /* padding-left: 300px;  */
}
#myBtnContainer a {
  color: black;
  padding: 8px 16px;
  margin: 0 4px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
}

/* #imageContainer {
  margin-left: 130px;
} */

h1 {
  font-size: 50px;
  word-break: break-all;
}

h2{
  display: block; 
  margin: 0;
  clear: both;
  padding: 30px 7px 10px 5px;
  font-size: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narron', Arial, sans-serif;
} 

h4 {
  text-align: center;
}

/* Style the buttons */
.btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* 倒角 */
  outline: none;
  padding: 5px 5px;
  background-color: white;
  cursor: pointer;
  width: 50px;
  display: block;
  margin: 2px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* 阴影 */
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  background-color: #ddd;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); /* 增加悬停时的阴影 */
}

/* .btn.active {
  background-color: #666;
  color: white;
} */

.fade {
  opacity: 0;
  /* transition: opacity 0.5s ease-in-out; */
}

.show {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.btn.selected {
  background-color: lightgreen;
  color: black;
}

.btn:not(:last-child) {
  margin-bottom: 5px; /* 按钮之间的分界线 */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* The "show"
 class is added to the filtered elements */
 .show {
  display: block;
}

p{
margin: 0 auto;
background-color: #fbf2fc;
padding: 10px 5px;
max-width: 280px;
font-size: 16px;

}


.row {
  --gap: 0.5em;
  --columns: 6;
  max-width: 79%;
  margin: 100px auto;
  display: column;
  columns: var(--columns);
  gap: var(--gap);
  /* background-color: aquamarine; */
}

.row > * {
  break-inside: avoid;
  margin-bottom: var(--gap);
  display: flex;
  justify-content: center;
}

@supports (row-template-grid: masonry) {
  .row {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: masonry;
    grid-auto-flow: dense;
  }
}


/* Create three equal columns that floats next to each other */
.btn.column {
  float: left;
  display: block; /* Hide all elements by default */
  margin: 3px;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.row .column .content img {
  max-width: 100%;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;

}

.row .column .content img.loaded {
  opacity: 1;
}

.row .column .content {
  padding: 0.5em;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
  background: white;
}





/* 控制P标签的显示与关闭 */
.describe {
  display: none;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #e6e6e6;
  margin:auto;
  padding: 40px 20px; /* 增加上边距的padding */
  border: 1px solid #888;
  text-align: center;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: stretch; /* 使 p 标签的高度与图片高度一致 */
}

.modal img {
  max-width: 80%;
  height: 650px;
  object-fit: contain;
}

#modalText{
  margin-left: 10px; /* 保持与图片的间距 */
  padding: 10px;
  text-align: left;
  flex: 1; /* 允许 p 标签内容换行 */
  display: flex;
  flex-direction: column; /* 从上往下排列 */
  align-items: flex-start; /* 确保文本从左对齐 */
  justify-content: flex-start; /* 确保文本从上对齐 */
}


.close {
  color: #aaa;
  position: absolute;
  top: -5px;
  bottom: 15px;
  right: 25px;
  font-size: 32px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.lick {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Background blur effect */
body.modal-open {
  overflow: hidden;
}

body.modal-open .column,body.modal-open .lie,body.modal-open h2,body.modal-open #myBtnContainer{
  filter: blur(3px);
}
body.modal-open #navbar{
  opacity: 0;
  transform: translateY(-60px);
  transition: opacity 0.05s ease-in-out;
}

.hidden {
  display: none;
}

/* all_html文件效果控制区 */
.software {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 20px;

} 
.ron {
 width: 80%;
 margin: 10px auto;
 position: relative;
 top: 100px;
}

.software.content{
  background-color: #fff;
  border-radius: 5px;
  content-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px;
  text-align: center;
}

.software img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}


.software.copilot .lie {
  width: 18.5%;
  margin-bottom: 20px;
  margin-left: 7px;
}

.software.Midjourney .lie {
  width: 31.5%;
  margin-bottom: 20px;
  margin-left: 11px;
}
.software.ChatGPT .lie {
  width: 31.5%;
  margin-bottom: 20px;
  margin-left: 11px;
}
.software.stablevideo .lie {
  width: 31.5%;
  margin-bottom: 20px;
  margin-left: 11px;
}/* all_html文件效果控制区 */

.lazy {
  background: url('./Picture/loading.gif') center center no-repeat;
  min-height: 150px; /* 你可以根据图片的大小调整这个高度 */
}
