* {
  box-sizing: border-box;
}

body {
  background-color: #e3f2fd;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
}

#myBtnContainer {
  position: fixed;
  top: 57px;
  left: 0;
  width: 150px;
  height: 800px;
}

h4 {
  text-align: center;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 30px;
  background-color: white;
  cursor: pointer;
  width: 150px;
  display: block;
  margin: 2px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.show {
  opacity: 1;
}

.btn.selected {
  background-color: lightgreen;
  color: black;
}
